@{
    ViewBag.Title = "Usuwanie użytkownika";
}

<p>Are you sure to delete this user?</p>

<table>
    <tr>
        <th>User:</th><td>@Model.UserName</td>
    </tr>
    <tr>
        <th>E-mail:</th><td>@Model.Email</td>
    </tr>
    <tr>
        <th>Is active:</th>
        <td>               
            @if (@Model.IsApproved == true)
            {
                <text>Yes</text>
            }
            else
            {
                <text>No</text>
            }
        </td>
    </tr>
    <tr>
        <th>Role:</th><td>@ViewBag.Role</td>
    </tr>

</table>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Usuń" /> |
        @Html.ActionLink("Powrót do listy aktualności", "Index")
    </p>
}
