@model TouristGuide.Models.Place
           
<div class="regionBar" name="@Model.ID">
    <span style="color: White; font-size: 20px;">@Model.Name</span> @*  @Html.ActionLink(item.Name, "Details", new { id = item.ID ,style="color:white;"})*@
@if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("admin"))
{
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
</div>
}
</div>